@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
}

html, body, #root { height: 100%; }
body { background: rgb(var(--bg)); }

/* smooth anchors */
html { scroll-behavior: smooth; }
